/* Favorites.css */

/* General Styles */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif; /
  }
  
  h2, h3 {
    margin-bottom: 20px; 
    text-align: center; 
    color: #343a40; 
  }
  
  /* Form Styles */
  form {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px; 
    width: 300px; 
  }
  
  button {
    margin-left: 10px;
    padding: 10px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* List Styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #ffffff; 
    margin: 10px 0;
    padding: 15px; 
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Link Styles */
  strong {
    color: #417ab8;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    input[type="text"] {
      width: 100%; 
    }
    
    form {
      flex-direction: column; 
      align-items: center; 
    }
  
    button {
      width: 100%; 
      margin-left: 0; 
      margin-top: 10px; 
    }
  }
  